*{
    text-decoration: none;
    margin: 0%;
    padding: 0%;
}

body{
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans',sans-serif;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

.menu{
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background:#FFFFFF;
     z-index: 1;
    border: 1px solid blue;

}

nav ul{
    list-style-type:none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}


.wraper{
    width: auto;
    height: auto;
}
section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}
.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}
.kolom .deskripsi {
        font-size: 20px; 
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        color: blue;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    ;
    font-weight: 800;
    font-size:  20px;
    margin-bottom: 20px;
    color: blue;
    width:100%;
    line-height: 50px;
}
.tengah{
    text-align: center;
    width: 100%;
    
}

.forto-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.forto-foto{
    width: 20%;
    margin: 0 auto;
}

.proyek-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.proyek-list{
    width: 20%;
    margin: 0 auto;
}
#kontak {
    background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section{
    width: 20px;
    margin: 0 auto;
    font-size: 30px;
    margin-bottom: 20px;
    color: blue;
    width: 100%;
    line-height: 50px;
    
}
